html, body {
  height: 100%;
  color: #61DAFB;
  background: #2D2D2D;
}

h1 {
  margin: 20px 0 15px 0;

}

#main {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

ul {
  list-style: none;
}

ul>li:hover {
  background-color: green;
}

.form-inline .form-control {
  width: 50%;
  margin-left: 80px;
}

